:root {
  --logo-color: #d57341;
  --background-color: #f0f4f5;
  --text-color: black;
}

body {
  margin: 0;
  font-family: 'Jua', sans-serif;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color:var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 48px;
  background-color:var(--background-color);
  opacity: 0.7;
}

.navbar_logo {
  font-size: 48px;
}

.navbar_logo i {
  color:var(--logo-color);
}

.navbar_menu {
  display: flex;
  list-style: none;
  font-size: 24px;
  padding-left: 0;
  text-align: center;
  color:var(--text-color);

}

.navbar_menu li {
  padding: 4px 36px;
  font-size: 20px;
}

.navbar_menu li:hover {
  background-color: gray;
  border-radius: 4px;
}

.navbar_toggleBtn {
  display:flex;
  right: 24px;
  font-size: 24px;
  width: 24px;
  padding-left: 0;
  color:var(--logo-color);
  }

.navbar_toggleBtn i {
  color:var(--logo-color);
}

.navbar_toggleBtn:hover {
  background-color: gray;
  border-right: 2px;
  padding: 8px;
}

.sidebar {
    width: 150px;
    height:100%;
}

.sidebar_sns {
  position: fixed;
  right:0;
  list-style: none;
  font-size: 24px;
  margin:0;
  text-decoration: none;
  text-align: right;
  background-color:var(--background-color);
  opacity: 0.7;
  padding: 8px 40px;
}

.sidebar_sns li a {
  dispaly: block;
  line-height: 60px;
  padding: 8px;
}

.sidebar_sns li {
  display:block;
  color:var(--logo-color);
}

.sidebar_sns li:hover {
  background-color: gray;
  border-right: 2px;
  transition: 5%;
}

.main {
  padding-top: 16px;
  text-align: center;
  align-items: center;
  padding-left: 0;
  color:var(--text-color);
}

.main ul {
  list-style-type: none;
}
.main img {
  width: 55%;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 12px;
  }

  .navbar_logo {
    font-size: 36px;
  }

  .navbar_menu {
    display:none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_toggleBtn {
  position: absolute;
  }

  .navbar_menu.active {
    display: flex;
  }

  .sidebar_sns {
    padding: 8px 16px;
  }

  .main {
    margin-left: 0;
    padding-top: 0;
  }
}

.main_Athlete {

}
